<!-- Left side column. contains the logo and sidebar -->
<aside th:fragment="sidebar" class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/images/lzhpo.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p shiro:hasRole="admin">[[${user.username}]]<small>(管理员)</small></p>
                <p shiro:hasRole="user">[[${user.username}]]<small>(用户)</small></p>
                <p shiro:hasRole="guest">[[${user.username}]]<small>(游客)</small></p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">主导航</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i> <span>权限管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/system/role" target="mainFrame"><i class="fa fa-circle-o"></i> 角色管理</a></li>
                    <li><a href="/admin/system/user" target="mainFrame"><i class="fa fa-circle-o"></i> 用户管理</a></li>
                    <li><a href="/admin/system/resources" target="mainFrame"><i class="fa fa-circle-o"></i> 资源管理</a></li>
                    <li><a href="/admin/system/onlineUser" target="mainFrame"><i class="fa fa-circle-o"></i> 在线用户</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i> <span>系统管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/tool/druid" target="mainFrame"><i class="fa fa-circle-o"></i> Druid监控</a></li>
                    <li><a href="/admin/tool/swagger" target="mainFrame"><i class="fa fa-circle-o"></i> Swagger</a></li>
                    <li><a href="/admin/tool/updatelog" target="mainFrame"><i class="fa fa-circle-o"></i> 更新日志</a></li>
                    <li><a href="/admin/tool/log" target="mainFrame"><i class="fa fa-circle-o"></i> 操作记录</a></li>
                    <li><a href="/admin/tool/dictionary" target="mainFrame"><i class="fa fa-circle-o"></i> 数据字典</a></li>
                    <li><a href="/admin/tool/email" target="mainFrame"><i class="fa fa-circle-o"></i> 发送邮件</a></li>
                    <li><a href="/admin/tool/file" target="mainFrame"><i class="fa fa-circle-o"></i> 文件管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i> <span>博客管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/admin/blog/blogArticle" target="mainFrame"><i class="fa fa-circle-o"></i> 博客列表</a></li>
                    <li><a href="/admin/blog/blogType" target="mainFrame"><i class="fa fa-circle-o"></i> 分类列表</a></li>
                    <li><a href="/admin/blog/blogTag" target="mainFrame"><i class="fa fa-circle-o"></i> 标签列表</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>