<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.aurora.admin.mapper.DownLoadLogMapper">

    <insert id="addDlLog">
        insert into tool_dllog(file_name,dllog_date,username) values(#{file_name},#{dllog_date},#{username})
    </insert>

    <delete id="delDllog">
        delete from tool_dllog where dllog_id = #{dllog_id}
    </delete>

    <delete id="batchDelDllog">
        delete from tool_dllog
        where dllog_id
        in
        <foreach collection="array" item="dllogIds" open="(" close=")" separator=",">
            #{dllogIds}
        </foreach>
    </delete>

    <select id="findAll" resultType="com.lzhpo.aurora.admin.entity.DownLoadLog">
        select dllog_id,file_name,dllog_date,username from tool_dllog limit #{start},#{limit}
    </select>

    <select id="dllogCount" resultType="java.lang.Integer">
        select count(dllog_id) from tool_dllog
    </select>

    <select id="findFileLikeName" resultType="com.lzhpo.aurora.admin.entity.MyFile">
        select dllog_id,file_name,dllog_date,username from tool_dllog where file_name like concat('%',#{file_name},'%') limit #{start},#{limit}
    </select>

    <select id="countFileLikeName" resultType="java.lang.Integer">
        select count(dllog_id) from tool_dllog where file_name like concat('%',#{file_name},'%')
    </select>
</mapper>