<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.aurora.admin.mapper.RoleResourcesMapper">

    <!--
        获取未选中的数据，也就是取消的权限
        根据Resources中的节点id来查询Resources的主键id
        然后根据Resources的主键id来删除RoleRes中的对应数据。
    -->
    <delete id="deleteRoleResById">
        DELETE
        FROM
            role_resources
        WHERE
            (role_id = #{role_id})
        AND (res_id = #{res_id})
    </delete>
</mapper>