<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.aurora.admin.mapper.UserMapper">

    <!-- 添加 -->
    <insert id="userAdd">
        insert into sys_user(username,password,email,sex,status)
        values(#{username},#{password},#{email},#{sex},#{status})
    </insert>

    <!-- 修改 -->
    <update id="userEdit">
        update sys_user
        set
        username = #{username}, password = #{password}, email = #{email}
        where user_id = #{user_id}
    </update>

    <!-- 修改性别和状态 -->
    <update id="updateSexAndStatus">
        update sys_user
        set
        sex = #{sex},
        status = #{status}
        where user_id = #{user_id}
    </update>

    <!-- 批量删除 -->
    <delete id="batchDel">
        delete from sys_user
        where user_id
        in
        <foreach collection="array" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- 单个删除 -->
    <delete id="deleteById">
        delete from sys_user where user_id = #{user_id}
    </delete>

    <!-- 查询全部-->
    <select id="userFindAll" resultType="com.lzhpo.aurora.admin.entity.User">
        select user_id,username,password,email,sex,status from sys_user limit #{start},#{limit}
    </select>

    <!--根据username模糊查询-->
    <select id="userFindLikeName" resultType="com.lzhpo.aurora.admin.entity.User">
        select user_id,username,password,email,sex,status from sys_user where username like concat('%',#{username},'%') limit #{start},#{limit}
    </select>

    <!--统计所有条数-->
    <select id="userCount" resultType="java.lang.Integer">
        select count(user_id) from sys_user
    </select>

    <!--根据用户名查询用户 登录-->
    <select id="userFindByName" resultType="com.lzhpo.aurora.admin.entity.User">
        select user_id,username,password,email,sex,status from sys_user where username = #{username}
    </select>

    <select id="countFindLikeName" resultType="java.lang.Integer">
        select count(user_id) from sys_user where username like concat('%',#{username},'%')
    </select>

</mapper>